/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #b50102;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}


.white-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background-image: url('../home_grass.jpg');
    background-repeat: repeat;
}


@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #212529;
    color: #ffffff;
    text-transform: uppercase;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.product-name {
    color: white;
    text-transform: uppercase;
}

.product-price {
    color: white;
    text-align: right;
}

.group-header {
    color: #b50102;
    text-transform: uppercase;
    font-size: 1.8em;
}


.price-column {
    width: 100%;
}

tr {
    color: white;
}

th {
    color: white;
}

.control-label {
    color: white;
}

.setting {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 60px;
    height: 70px;
    padding: 10px;
}

.setting-image {
    width: 40px;
    height: 50px;
}

.table-borderless {
    height: 100%;
}

.middle-column {
    padding: 0 20px;
    margin: 0 10px;
    border-right: 2px solid #b50102;
    border-left: 2px solid #b50102;
}

.empty-line {
    height: 18px;
    line-height: 0;
}
